<div class="under-display-container" id="oceny">
	<div class="gwd-div-1x7w">
		<div class="gwd-div-mdn5 oc_header" style="width: 20%;">Przedmiot</div>
		<div class="gwd-div-1vgp oc_header" style="width: 60%;">Oceny</div>
		<div class="gwd-div-lubk oc_header" style="width: 20%;">
			Podsumowanie
		</div>
		<div class="gwd-div-1l67" style="height: 100%; width: 100%;"></div>
		<div class="oc_items"></div>
	</div>
</div>
