<!DOCTYPE html>
<html>
	<head>
		<link
			type="text/css"
			rel="stylesheet"
			href="./style.css"
		/>
		<meta charset="UTF-8" />
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<title>MWulkan</title>
	</head>
	<script src="./index.js"></script>
	<body onload="OnLoad();">
		<% include main.ejs %>
		<% include login.ejs %>



		</div>
		<!-- You can also require other files to run in this process -->

		<script>
			ChangeUI("main");
		</script>
	</body>
</html>
