<link
type="text/css"
rel="stylesheet"
href="./style.css"
/>
<div class="under-display-container" id="login">
    <form>
        <div class="inp_group">
          <input type="text" id="inp_Token" class="inp_login" required="">
          <span class="inp_highlight"></span>
          <span class="inp_bar"></span>
          <label class="inp_txt">Token</label>
        </div>
        <div class="inp_group">
          <input type="text" id="inp_PIN" class="inp_login" required="">
          <span class="inp_highlight"></span>
          <span class="inp_bar"></span>
          <label class="inp_txt">PIN</label>
        </div>
        <div class="inp_group">
          <input type="text" id="inp_Symbol"  class="inp_login" required="">
          <span class="inp_highlight"></span>
          <span class="inp_bar"></span>
          <label class="inp_txt">Symbol</label>
        </div>
        <div class="button" id="button-15" style="width: 285px;
        position: relative;
        left: 0px;" onclick="Login()">Login</div>
      </form>
</div>

<script src="./login.js"></script>