<link
type="text/css"
rel="stylesheet"
href="./style.css"
/>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/textFit.js"></script>
<script src= "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fittext.js"></script>
<div id="main" class="display-container">
    <!DOCTYPE html>

  <div class="gwd-div-1v2v" style="">
    <div class="button" id="button-15" style="" onclick="ChangeUUI('oceny')">OCENY</div>
    <div class="button" id="button-15" style=""onclick="ChangeUUI('plan')" >PLAN LEKCJI</div>
    <div class="button" id="button-15" style=""onclick="ChangeUUI('zadania')">ZADANIA</div>
    <div class="button" id="button-15" style=""onclick="ChangeUUI('settings')" >USTAWIENIA</div>
  </div>
  <div class="gwd-div-1sjm">
    <div id="users-users" style="top: 60px;bottom: 0px;position: absolute;color: white; left: 5px;">
    </div>
  </div>
  <div class="gwd-div-1v2v gwd-div-15n3"></div>
  <div class="content-container">
    <% include data-ui/oceny.ejs %>
  </div>

</div>
<script src="./main.js"></script>