@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body{
    background-color: #1d1d1d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* General .page-buttons */
.page-button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: center;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.page-button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.page-button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

/* .page-button pointing left */

.page-button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
.page-button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-right: 16px solid transparent;
  border-left: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;    
}

/* Single .page-buttons */

.page-button.site {
  width: 40px;
  text-align: center;
  text-indent: 0;
}
.page-button.site:after{
  display: none;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background-color: rgb(60, 60, 60);
  transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-style: preserve-3d;
  overflow: hidden;
}
.gwd-div-1sjm {
  position: absolute;
  transform-origin: 56px 186px 0px;
  background-image: none;
  height:  100%;
  left: -1px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.44);
  width: 175px;
}
.gwd-div-1v2v {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.42);
  height: 60px;
  position: absolute;
  top: 0px;
  left: 170px;
  transform-origin: 250px 29px 0px;
  width: calc(100% - 170px);
}
.gwd-div-15n3 {
  left: 0px;
  transform-origin: 74.5024px 29px 0px;
  width: 170px;
}
.gwd-button-1n1c {
  position: absolute;
  width: 15%;
  height: 30px;
  top: 11px;
}



/* ALL BUTTONS */

.button{
display: inline-block;

margin: 20px 0;
position: relative;
color: #ecf0f1;
top:-14px;
width: auto;
text-align:center;
}


#button-15{
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  align-self: center;
  text-align: center;
  top: auto;
  bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  left: 4%;
  cursor: pointer;
}

#button-15:hover{
animation: bgchange 0.2s linear;
background-color: rgba(0, 0, 0, 0.3);
}

@keyframes bgchange{
0%{
background-color: rgba(0, 0, 0, 0.1);
}

100%{
background-color: rgba(0, 0, 0, 0.3);
}
}
p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
.user {
  width: 150px;
  height: 30px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  left: -5px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  padding-right: 20px;
  height: auto;
  cursor: pointer;
}
#users-users{
  overflow: auto;
}
.user:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.user.selected {
  background-color: rgba(255, 0, 0, 0.5);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100,100,100); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(60,60,60); 
}

.gwd-button-1n1c {
  position: absolute;
  width: 15%;
  height: 30px;
  top: 11px;
}
.button {
  display: inline-block;
  margin: 20px 0px;
  position: relative;
  color: rgb(236, 240, 241);
  top: -14px;
  width: auto;
  text-align: center;
}
#button-15 {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  align-self: center;
  text-align: center;
  top: auto;
  bottom: 10px;
}
#button-15:hover {
  animation: 0.2s linear 0s 1 normal none running bgchange;
  background-color: rgba(0, 0, 0, 0.3);
}
@keyframes bgchange {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.gwd-div-1x7w {
  position: absolute;
  height: 40px;
  background-image: none;
  background-color: rgba(253, 4, 4, 0.5);
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  left: 0px;
  top: 0px;
  width: 100%;
  transform-origin: 274.999px 25px 0px;
}
.gwd-div-mdn5 {
  position: absolute;
  width: 142.667px;
  height: 50px;
  left: 0px;
  top: 0px;
}
.gwd-div-1vgp {
  position: absolute;
  width: 147.333px;
  top: 0px;
  left: 20%;
}
.gwd-div-lubk {
  position: absolute;
  width: 110px;
  height: 50px;
  top: 0px;
  left: 80%;
}
.gwd-div-1l67 {
  position: absolute;
  width: 110px;
  height: 350px;
  top: 50px;
  left: 0px;
}
.gwd-div-1oag {
  position: absolute;
  width: 110px;
  height: 350px;
  top: 50px;
  left: 80%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.gwd-div-1vuw {
  position: absolute;
  width: 328px;
  height: 372.667px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5);
  left: 20%;
  top: 50px;
}
.gwd-div-1t2f {
  position: absolute;
  width: 112px;
  height: 400px;
  left: 0px;
  top: 50px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.oc_header {
  padding-top: 10px;
  border: 1px solid black;
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.oc_item {
  left: 0px;
  height: 40px;
  top: 60px;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  display:flex
}
.oc_item_item {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 40px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
.oc_item_item.small {
  width:calc(20% - 5px);
}
.oc_item_item.big {
  width:calc(60% - 5px);
}
.invisible{
  display: none;
}
.content-container{
  position: absolute;
  top: 75px;
  left: 185px;
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.align-middle{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}

.gwd-div-ip21 {
  position: absolute;
  background-image: none;
  top: 25%;
  transform-origin: 174.25px 104.5px 0px;
  width: 50%;
  height: 50%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.21);
}
.gwd-input-1l5z {
  position: absolute;
  width: 348.5px;
  height: 44px;
  left: 174.25px;
  top: 100px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0px;
  outline: 0px;
  font-size: 1.3rem;
  padding: 7px 0px;
  background: transparent;
  transition: border-color 0.2s ease 0s;
}
.form__label {
  position: absolute;
  top: 0px;
  display: block;
  transition: all 0.2s ease 0s;
  font-size: 1rem;
}
.form__field:focus {
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}
.inp_container {
  font-family: Roboto;
  width: 600px;
  margin: 30px auto 0px;
  display: block;
  background: rgb(255, 255, 255);
  left: 0px;
  top: 0px;
  padding: 10px 50px 50px;
}
.inp_footer {
  text-align: center;
}
.inp_footer a {
  color: rgb(83, 178, 200);
}
.inp_group {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}
.inp_login {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(117, 117, 117);
}
.inp_login:focus {
  outline: none;
}
.inp_txt {
  color: white;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease 0s;
}
.inp_login:focus ~ .inp_txt, .inp_login:valid ~ .inp_txt {
  top: -20px;
  font-size: 14px;
  color: white;
}
.inp_bar {
  position: relative;
  display: block;
  width: 300px;
}
.inp_bar::before, .inp_bar::after {
  content: "";
  height: 2px;
  width: 0px;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: all 0.2s ease 0s;
}
.inp_bar::before {
  left: 50%;
}
.inp_bar::after {
  right: 50%;
}
.inp_login:focus ~ .bar::before, .inp_login:focus ~ .bar::after {
  width: 50%;
}
.inp_highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0px;
  pointer-events: none;
  opacity: 0.5;
}
.inp_login:focus ~ .highlight {
  animation: 0.3s ease 0s 1 normal none running inputHighlighter;
}
@keyframes inputHighlighter {
  0% {
    background: white;
  }
  100% {
    width: 0px;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  0% {
    background: white;
  }
  100% {
    width: 0px;
    background: transparent;
  }
}
.inp_login{
  background-color: rgba(0,0,0,0.5);
  color:white;
}
#add-user{
  background-color: rgba(0,0,0,0.5);
  top: calc(100% - 60px);
    bottom: 0px;
    position: absolute;
    color: white;
    height: 60px;
    width: 100%;
}
.ocena_info_popup{
  position: absolute;
  background-color: rgba(157, 32, 32, 1);
  z-index: 10;
  width: 100%;
    left: 0;
    top: 45px;
    height: 130px;
    text-align: left;
    font-size: 15px;
}
.oc_popup_item{
display: flex;
}
.oc_popup_longer{
font-size: 10px;
}